<div class="clearfix head_contents">
	<%= render partial: 'plans/searchContents' %>
</div>

<div class="main_wrap">
	<ul class="plan_list">
		<h2>新着プラン</h2>
		<li>
			<%= render partial: 'plans/planList' %>
		</li>
	</ul>

	<div class="side_contents">
	</div>
</div>

