<body>
	<header id="header">
		<h1 class="logo">
			<p>kuraitoko</p>
		</h1>
	</header>

	<div class="contentTop">

		<div class="planImage">
			<img alt="" src="https://d17vjxfu0igzun.cloudfront.net/images/76a7ff546905aa6b7ef4fa7ab97e0ae9/640x400c/spot_photos/16971/original-1080d26256555279573084a85a68b25a43f43084.jpg"></img>
		</div>

		<h1 class="planTitle">
		【関東版】東京から日帰りで楽しめる遊びプランを教えちゃいます！ちょっと遠出したい時に本当に使えるドライブ特集！
		</h1>

		<div class="price">
			<p>10,000~15,000円</p>
		</div>

		<div class="time">
			<p>6時間</p>
		</div>

		<div class="tag">
			<ul class="tagList">
				<li>京都</li>
				<li>清水寺</li>
				<li>金閣寺</li>
				<li>抹茶</li>
				<li>デート</li>
			</ul>
		</div>

		<div class="author">
			<a>shinwatanabe</a>
		</div>

		<div class="review">
			<img alt="" src="http://www.best-sumai.com/brand/img/f-star-3.gif"></img>
		</div>

		<div class="map">
			<img alt="" src="http://www.tam-tam.co.jp/tipsnote/wpdata/wp-content/uploads/2016/01/image.jpg"></img>
		</div>

		<div class="summary">
			<p>友達同士の遊びにも恋人とのデートにも使える日帰りの旅行プランをご紹介します！東京からドライブして日帰りで行ける関東近郊のおすすめスポットをまとめました＾＾♪1日空いていてちょっと遠出したいけどいい所ないかな？という方におすすめです！おすすめの日帰り温泉や、ちょっとした小旅行になるプランもあるので、時間がないカップルも普段とは違う日帰りデートを楽しめると思いますよ！＾＾</p>
		</div>

	</div>

	<div class="contentMain">
		<div class="cassette">
			<div class="c_list">
				<p class="starttime">AM10:00</p>
				<p class="staytime">45分</p>
				<p class="needmoney">4,000円</p>
			</div>
			<div class="c_image">
				<img alt="" src="https://d17vjxfu0igzun.cloudfront.net/images/003b9f0e2c41300ee2ac76120ff2054c/620x480c/spot_photos/7389/original-4a000c55e5c59c4b98f684b174714df9253b0856.jpg"></img>
			</div>
			<div class="c_title">
				<h3>高尾山</h3>
			</div>
			<div class="c_comment">
				<p>東京都内で登山を楽しみませんか？高尾山は初心者にもおすすめの登山コースです。休憩をこまめに取りつつ約90分ほど登山道を登っていくと、山頂が見えてきます！</p>
			</div>
		</div>
	</div>
</body>